.my-nav {
    height: 6vh;
    width: 100vw;
}

.map {
    height: 94vh;
    width: 100vw;
    background-size: cover;
    background-repeat: repeat;
}

.my-nav-icon {
    font-size: 2rem;
}

.my-pad {
    margin-top: 0%;
}

@media screen and (max-width: 1000px) {
    .my-pad {
        margin-top: 1%;
    }
}

@media screen and (max-width: 800px) {
    .my-pad {
        margin-top: 5%;
    }
}

@media screen and (max-width: 600px) {
    .my-pad {
        margin-top: 7%;
    }
}

.my-offcanvas {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    height: auto !important;
}

.my-offcanvas-header {
    background-color: red;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}