.map {
    height: calc(100vh - 78.5px);
    width: 100%;
    background-size: cover;
    background-repeat: repeat;
}


.my-offcanvas {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    height: auto !important;
}

.my-offcanvas-header {
    background-color: red;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}