.map {
    height: 94vh;
    width: 100vw;
    background-size: cover;
    background-repeat: repeat;
}


.my-offcanvas {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    height: auto !important;
}

.my-offcanvas-header {
    background-color: red;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

label {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    position: absolute;
    opacity: 0;
}

input:checked~.moon {
    transform: rotate(360deg) scale(0);
}

input:checked~.sun {
    transition-delay: .2s;
    transform: scale(1) rotate(360deg);
}

.sun {
    position: absolute;
    font-size: 3em;
    color: #666;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5));
    transform: scale(0);
    transition: 0.3s ease;
}

.moon {
    font-size: 3em;
    color: #666;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5));
    transition: 0.3s ease;
    transition-delay: .2s;
}

.toggle {
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow:
        inset 0 8px 60px rgba(0, 0, 0, 0.1),
        inset 0 8px 8px rgba(0, 0, 0, 0.1),
        inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    z-index: -1;
    transition: 1s;
}

input:checked~.toggle {
    background: #f8f8f8;
}

.animateBg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    z-index: -2;
    clip-path: circle(10% at 50% 50%);
    transition: 1s ease-out;
}

input:checked~.animateBg {
    clip-path: circle(100% at 50% 50%);
    transition: 1s;
}